<!DOCTYPE html>
<html lang ="fr">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Concepteur</title>
    <link rel="icon" type="image/ico" href="{{ asset('icons/faticon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
</head>
<body>
    <h1> Liste des Aventures </h1>
<ul>
    {% for aventure in aventures %}
        <li>{{ aventure.nomaventure}}
        <a href="{{ path('modif_aventure', {nomaventure: aventure.nomaventure}) }}"><button class="btn btn-lg btn-primary bouton_important">Modifier</button></a>
        
    {% endfor %}
</ul>
</body>
</html>
