{% extends "concepteur/templateConcepteur.php.twig" %}



{% block main %}

    <h1>{{aventure.nomaventure}}</h1>
    <p>{{aventure.texteaventure}}</p>

    {% for etape in etapes %}
        <p>{{etape.getNometape()}}</p>
        <p>{{getReponsesEtape(etape.getIdquestion())}}</p>
    {% endfor %}
{% endblock %}